

<twig:Alert message="{{alert}}" />
<twig:Alert message="{{errors}}" />


{{ form_start(form) }}
    <link rel="stylesheet" href="{{asset('styles/order_form.css')}}" />
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    <label class=Costumer-label> 
        {{ form.Costumer.vars.label }}
        {{ form_widget(form.Costumer) }}
    </label>


    <div id="menus" class="menus">
    {% for choice in form.ordered_item.vars.choices %}
        {% if loop.index%2 == 0 %}{% endif %}

        <label class="menulabel btn" for="{{ form.ordered_item.vars.name }}_{{ choice.value }}">
            {{ choice.label|trans }}
            <input 
                class="input_invis" 
                type="radio" 
                id="{{ form.ordered_item.vars.name }}_{{ choice.value }}" 
                name="order[{{ form.ordered_item.vars.name }}]" 
                value="{{ choice.value }}"/>
        </label>
        {% do form.ordered_item.setRendered() %}
        
    {% endfor %}
    </div>
    
    
    <div class="footer">
        {% for choice in form.tax.vars.choices %}
        <label class="btn tax tax-label"
            >{{ choice.label|trans }}
            <input
                type="radio"
                id="{{ form.tax.vars.name }}_{{ choice.value }}" 
                name="order[{{ form.tax.vars.name }}]" 
                value="{{ choice.value }}"
                class="input_invis" />
        </label>
        {% endfor %}
        {% do form.tax.setRendered() %}

        <label class="btn submit">
            <!-- Submit Button -->
            OK
            {{ form_widget(form.save, {'attr': {'style':"display: none"}}) }}
        </label>
    </div>

{{ form_end(form) }}