

<h1
{% if not first %}
    style='page-break-before: always;'
{% endif %}
> {{customer}} </h1>

<b> {{month}} </b>
<table class='table' cellspacing="0" cellpadding="10">
    {# headers #}
    <tr>
    {% for header in headers %}
        <th>{{header}}</th>
    {% endfor %}
    </tr>

    {% for entry in entries %}
    <tr>
        {% for key, value in entry %}
        <td>
            {{value}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<div class='signature'> {{customer}}  </div>

<style>
    .signature{
        border-top: solid;
        border-top-width: 1px;
        width: 50%;
        margin: 80px 0 0 0;
        /* min-width: 200px;  */
        /* page-break-after: always; */
    }

    table, td, tr, th {
         border: 1px;
         border-style: solid;
         border-collapse: collapse;
    }
</style>